table, th, td {
    
    border: 3px solid black;
    border-collapse: collapse;
    width:60%; 
    
  }
  th, td {
    background-color: #e4c5f3;
  }
  img {
    width: 60%;
    height: auto;
  }
  thead{
   text-align: center ; 
   font-weight:bold;
  }
